[Unit]
Description=tubetimeout
After=network.target

[Service]
ExecStart=/usr/local/bin/tt
Environment=LOG_LEVEL=info
WorkingDirectory=/root
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
