<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>App Configuration</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<div class="container">
  <h1>App Configuration</h1>
  <table>
    <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>LogLevel</td>
      <td>{{.Config.LogLevel}}</td>
    </tr>
    <tr>
      <td>BuildTime</td>
      <td>{{.BuildTime}}</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
