<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TubeTimout</title>
  <link rel="stylesheet" href="/static/style.css" />
  <script src="/static/script.js" defer></script>
</head>
<body>
<div class="container">
  <h1>TubeTimeout</h1>
  <table>
    <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Say What?</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Build Time</td>
      <td>{{.BuildTime}}</td>
      <td>App build time</td>
    </tr>
    <tr>
      <td>App Version</td>
      <td>{{.BuildVersion}}</td>
      <td>App version</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <section class="form-section">
    <h1>Tracker Configuration</h1>
    <div class="form-container">
      <div class="form-card">
        <div class="form-field">
          <label for="group-select">Tracker</label>
          <select id="group-select">
            <option value="">-- New Group --</option>
            <option value="Chatty TV">Chatty TV</option>
            <option value="Richard">Richard</option>
            <option value="youtube">youtube</option>
          </select>
        </div>
        <div class="form-field">
          <label for="group-name">Name</label>
          <input id="group-name" type="text" placeholder="Name" required>
        </div>
        <div class="form-field">
          <label for="group-retention">Retention (days)</label>
          <input id="group-retention" type="number" placeholder="Retention" required>
        </div>
        <div class="form-field">
          <label for="group-threshold">Block Threshold (minutes)</label>
          <input id="group-threshold" type="number" placeholder="Threshold" required>
        </div>
        <div class="form-field">
          <label for="group-start-day">Start Day</label>
          <select id="group-start-day">
            <option value="0">Sunday</option>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
          </select>
        </div>
        <div class="form-field">
          <label for="group-start-time">Start Time</label>
          <input id="group-start-time" type="time" step="300" required>
        </div>
      </div>
      <div class="button-container">
        <button id="save-tracker-btn">Save Tracker</button>
      </div>
    </div>
  </section>

  <section class="form-section">
    <h1>Devices</h1>
    <div class="form-container">
      <div class="form-card">
        <div class="form-field">
          <label for="device-dropdown">Device</label>
          <select id="device-dropdown"></select>
        </div>
        <div class="form-field">
          <label for="device-name">Name</label>
          <input id="device-name" type="text" placeholder="Device Name" required>
        </div>
        <div class="form-field">
          <label for="device-group-dropdown">Group</label>
          <select id="device-group-dropdown"></select>
        </div>
      </div>
      <div class="button-container">
        <button id="add-to-group-btn" type="button">Add to Group</button>
      </div>
    </div>
  </section>

  <div class="save-container">
    <button id="save-config-btn" style="display: none;">Save Configuration</button>
  </div>

  <div id="groups-container"></div>

  <div id="notification" class="notification hidden"></div>
  <div id="statusMessage"></div>
</div>
</body>
</html>